body {
    background-image: url("background.jpg");
    background-position: center;
    background-repeat: repeat;
    font-family: sans-serif Arial;
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.1);
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    align-items: center;
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.75);
    font-family: "Arial";
    margin-bottom: 100px;
}

.menu_ul {
    list-style-type: none;
    padding: 10px 20px;
    display: flex;

}

.Icon {
    text-align: left;
    font-family: "Arial Black";
    font-size: 1.5rem;
    padding-left: 40px;
    width: 33%;
}

.menu a  {
    text-decoration: none;
    color: black;
    padding: 10px 20px;
    font-size: 1.5rem;
    transition: color 0.5s ease, background-color 0.5s ease;
}

.menu {
    display: block;
    text-align: center;
    justify-content: center;
    width: 33%;

}

.menu a:hover{
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
}

.buttons {
    text-align: right;
    width: 33%;
}

.button {
    border-radius: 10px;
    background-color: white;
    width: 150px;
    height : 40px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
}

.button:hover{
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.075);
}

#container {
    display: flex;
    left: 250px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 800px;
    width: 500px;
    position: relative;
}

#login-container{
    display: flex;
    right: -700px ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 800px;
    width: 500px;
    position: relative;
}

.login-form {
    display: flex;
    text-align: center;
    flex-direction: column;
    height: 500px;
    width: 800px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
}

.form {
    display: flex;
    text-align: center;
    flex-direction: column;
    height: 500px;
    width: 800px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
}

.input-form {
    margin-bottom: 15px;
}

.input {
    width: 100%;
    padding: 12px;
    width: 775px;
    font-size: 16px;
    border: 1px solid black;
    border-radius: 4px;
}

.submit-form {
    text-align: center;
}

.login-submit-form{
    text-align: center;
}

.submit {
    width: 800px;
    padding: 12px;
    font-size: 16px;
    background-color: lawngreen;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.submit:hover {
    background-color: lawngreen;
}

.container-top {
    text-align: center;
    margin-bottom: 20px;
    font-family: "Arial Black";
}

.login-container-top{
    text-align: center;
    margin-bottom: 20px;
    font-family: "Arial Black";
}

.container-top span a {
    color: blue;
    text-decoration: none;
}


.login-container-top span a{
    color: blue;
    text-decoration: none;
}

div header{
    text-align: center;
    justify-content: center;
    padding-bottom: 10px;
}

input {
    margin-bottom: 12px;
}

div header {
    font-family: Arial;
    font-size: 32px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.form-box{
    position: absolute;
    left: 335px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 600px;
    width: 900px;
   overflow: hidden;
}

.checkbox-area {
    text-align: left;
    font-family: Arial;
}