.body {
    font-family: sans-serif Arial;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    align-items: center;
}

.menu_ul {
    list-style-type: none;
    overflow: hidden;
    padding: 10px 20px;
    display: flex;
}

.Icon {
    font-family: sans-serif;
    font-size: 1.5rem;
    padding-left: 40px;

}

.menu a{
    text-decoration: none;
    color: black;
    padding: 10px 20px;
    font-size: 1.5rem;
}

.menu {
    display: block;
    text-align: center;
    padding: 10px 20px;

}

.buttons {
    padding-right: 40px;
}